.catalog {
  background-color: $bg-color;

  h2 {
    @include font (12,16);
    color: $base-primary;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-weight: 700;
    text-align: center;
    padding-top: 50px;
    margin: 0 0 4px;

    @media (min-width: $tablet-width) {
      padding-top: 80px;
    }
  }

  h3 {
    @include font (24,36);
    font-weight: 700;
    text-align: center;
    margin: 0 0 20px;

    @media (min-width: $tablet-width) {
      @include font (42,64);
    }
  }
}

.catalog__container {
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $desktop-width) {
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
  }
}

.catalog__filter {
  @include font (16,24);
  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    margin-right: 30px;
  }
}

.catalog__sorting {
  @include font (16,24);
  font-weight: 600;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    label {
      margin-right: 10px;
    }
  }
}

.catalog__wrapper {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.catalog__pagination {
  @include font (16, 24);
  padding-bottom: 44px;

  @media (min-width: $tablet-width) {
    padding: 0 0 90px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 120px;
  }
}
