.catalog {
  background-color: $bg-color;
}

.catalog__container {
  padding-right: 20px;
  padding-left: 20px;

  h2 {
    @include font (12,16);
    color: $base-primary;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-weight: 700;
    text-align: center;
    padding-top: 50px;
    margin: 0 0 4px;
  }

  h3 {
    @include font (24,36);
    font-weight: 700;
    text-align: center;
    margin: 0 0 20px;
  }
}

.catalog__filter {
  @include font (16,24);
}

.catalog__sorting {
  @include font (16,24);
  font-weight: 600;

  label {
    margin-right: 40px;
  }
}

