.intro__slider-container {
  overflow: hidden;
  position: relative;
}

.intro__slider {
  @include list-reset;
  display: flex;
}

.intro__slide {
  flex-shrink: 0;

  &--flat-white {
    background-color: #f3ebe1;

    @media (min-width: $tablet-width) {
      position: relative;

      &::after {
        @include pseudo-elem;
        width: 1440px;
        height: 188px;
        background-color: $base-white;
        bottom: 0;
      }

      @media (min-width: $desktop-width) {
        position: static;

        &::after {
          display: none;
        }
      }
    }
  }

  &--lavender {
    background-color: #eae6fc;
  }

  &--espresso {
    background-color: #e5e6e8;
  }
}

.intro__slide-content {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  picture {
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;

      @media (min-width: $desktop-width) {
        margin-left: 25px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: column-reverse;
    padding-right: 80px;
    padding-left: 80px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 84px;
  }
}

.intro__slide-image {
  display: block;

  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
    z-index: 1;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 600px;
    z-index: 0;
    position: static;
  }
}

.intro__product-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 625px;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
  }

  h2 {
    @include font (12,16);
    font-weight: 700;
    text-transform: uppercase;
    color: $base-primary;
    margin: 0 0 4px 0;
  }

  h3 {
    @include font (36,48);
    font-weight: 700;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 0.02em;

    @media (min-width: $tablet-width) {
      @include font (56,80);
      margin-bottom: 16px;
    }
  }

  p {
    margin: 0 0 20px;
    text-align: center;

    @media (min-width: $tablet-width) {
      @include font (20,32);
    }

    @media (min-width: $desktop-width) {
      text-align: start;
      margin-bottom: 40px;
    }
  }
}

.intro__product-price {
  display: flex;
  align-items: baseline;

  span {
    @include font (16,32);
    color: $base-primary;
    text-decoration: line-through;
    margin-right: 6px;
  }

  p {
    @include font (20,32);
    font-weight: 600;
    margin: 0 20px 0 0;
  }
}

.intro__button {
  @include font (16,24);
  text-decoration: none;
  padding: 8px 20px;
}

.intro__slider-btn {
  @include not-hover;
  position: absolute;
  top: 0;
  background-color: transparent;
  padding: 315px 5px 316px 4px;

  svg {
    fill: #7859cf;
  }

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 308px 35px 307px 34px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 345px;
    padding-bottom: 344px;

    &:active {
      background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
    }

    &:hover {
      @include hover;
      background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }

    &:focus {
      @include hover;
      background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }
  }
}

.intro__slider-pagination {
  display: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    display: flex;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);

    span {
      margin-right: 8px;

      &:nth-child(3) {
        margin-right: 0;
      }
    }
  }
}

.swiper-pagination-bullet {
  @include not-hover;
  width: 62px;
  height: 4px;
  background-color: $base-white;

  &:hover {
    @include hover;
    background-color: rgba(120, 89, 207, 0.25);
  }

  &:focus {
    @include hover;
    background-color: rgba(120, 89, 207, 0.25);
  }
}

.swiper-pagination-bullet-active {
  background-color: $base-primary;
}

.swiper-button-disabled {
  svg {
    fill: #bdbdbd;
  }
}
