.products__list {
  @include list-reset;
  min-height: 2620px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    min-height: 0;
    flex-direction: row;
    justify-content: unset;
    flex-wrap: wrap;
  }
}

.products__item {
  padding: 40px 20px 20px 20px;
  background-color: $base-white;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    width: 47.9%;
    margin-right: 4.1%;
    margin-bottom: 30px;
    padding: 50px 30px 30px 30px;

    &:nth-child(2n) {
      margin-right: 0;

      @media (min-width: $desktop-width) {
        margin-right: 2.9%;
      }
    }
  }

  @media (min-width: $desktop-width) {
    @include hover;
    width: 31.3%;
    margin-right: 2.9%;

    &:hover {
      @include not-hover;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    }

    &:focus {
      @include not-hover;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    }

    &:nth-child(3) {
      margin-right: 0;
    }

    &:nth-child(6) {
      margin-right: 0;
    }
  }

  a {
    text-decoration: none;
  }

  h4 {
    @include font (18,32);
    font-weight: 700;
    color: $base-black;
    margin: 24px 0 4px 0;

    @media (min-width: $tablet-width) {
      @include font (24,36);
      margin-top: 30px;
      margin-bottom: 10px;
    }
  }

  p {
    margin: 0 0 16px 0;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }
}

.products__item-image {
  display: block;
  margin: 0 auto;
}

.products__item-price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  b {
    @include font (20,32);
    font-weight: 600;
  }
}


.products__item-button {
  @include font (14,20);
  padding: 8px 20px 8px 46px;
  background-image: url("../img/catalog-icon-basket.svg");
  background-repeat: no-repeat;
  background-position: left 20px center;
}
