.sorting {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.sorting__select-control {
  @include not-hover;
  font-weight: 600;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  border: 0;
  width: 134px;
  height: 32px;
  color: $base-primary;
  appearance: unset;
  padding-left: 5px;
  background-image: url("../img/select-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: transparent;
  border-radius: 4px;

  &:focus {
    @include hover;
    background-color: #f0ebff;
  }

  &:hover {
    @include hover;
    background-color: #f0ebff;
  }

  &:active {
    background-color: transparent;
    background-image: url("../img/select-arrow-up.svg");
  }

  option {
    @include font (16,24);
    font-weight: 400;
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    background-color: $base-white;
    color: $base-black;
    cursor: pointer;
  }
}
