// Colors

// $bg-flat-white: #f3ebe1;
$bg-color: #f8f8f8;
$base-white: #ffffff;
$base-primary: #7859cf;
$base-black: #333333;
$base-grey: #bdbdbd;

// Viewports

// $mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

// $min-resolution: 2dppx;
$style-change-duration: 0.3s;
